@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  :root, .dark {
    --background: #000000;
    --foreground: #f2f2f2;
    --card: #3e191a;
    --card-foreground: #f2f2f2;
    --popover: #161616;
    --popover-foreground: #f2f2f2;
    --primary: #8e4b73;
    --primary-foreground: #925114;
    --secondary: #f03f27;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #f3a5a5;
    --accent: #0c0f26;
    --accent-foreground: #fafafa;
    --destructive: #f9a03e;
    --destructive-foreground: #d9dbf8;
    --border: #f03f27;
    --input: #f03f27;
    --ring: #8e4e4a;
    --radius: 1rem;

  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}